.headerContainer {
  position: relative;
  background-color: var(--color-secondary);
  min-height: 10rem;
  max-width: 1160px;
}

.headerText {
  position: absolute;
  top: -0.4rem;
  left: 3.2rem;
  font-size: 3.516rem;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    min-height: 16rem;
  }

  .headerText {
    font-size: 4.883rem;
    top: 0.8rem;
    left: 4rem;
  }
}
