@import "./normalize.css";

:root {
  --color-white: #f7f7f7;
  --color-black: #25313c;
  --color-primary: #5c78e7;
  --color-secondary: #fbe1b7;
  --border-radius: 8px;
  --btn-border-radius: 8px;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: var(--color-white);
}

body {
  font-family: var(--font-open-sans);
  background-color: var(--color-white);
  font-size: 1.8rem;
  color: var(--color-black);
  line-height: 1.6;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--font-nunito-sans);
  /* margin-bottom: 1rem; */
  /* line-height: 1.1; */
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* BUTTONS */

.btn {
  border-radius: var(--btn-border-radius);
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  outline: 0;
  height: 3.6rem;
  padding: 0 1.6rem;
  min-width: 6.4rem;
  white-space: nowrap;
}

.btn-primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.btn-primary:hover {
  background: lighten(#5c78e7, 10%);
}

.btn-ghost {
  background: var(--color-white);
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn-ghost:hover {
  background: var(--color-headings);
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}
