.heading {
  display: flex;
  justify-content: center;
}

.form {
  padding-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 60rem;
  margin: 0 auto 2.4rem auto;
}

.formFlex {
  display: flex;
  gap: 1.2rem;
}

.inputFlex {
  flex: 1;
  max-width: calc(50%);
}

.formInput {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 1.2rem 0.8rem;
  transition: border-color 0.15s, box-shadow 0.15s;
  outline: 0;
  width: 100%;
}

.formInput:focus {
  border-color: #7db0fb;
  box-shadow: 0 0 0 4px #b9d3fa;
}

.error {
  padding: 0.8rem 0 0 0.4rem;
  color: var(--color-red);
}

.flexButton {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
