@import "./normalize.css";

:root {
  --color-white: #f7f7f7;
  --color-black: #25313c;
  --color-primary: #4566e7;
  --color-secondary: #fbe1b7;
  --color-red: #dc3e42;
  --border-radius: 0.8rem;
  --btn-border-radius: 0.8rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1160px;
  padding: 0 2rem;
  margin: 0 auto;
}

::selection {
  background: var(--color-primary);
  color: var(--color-white);
}

/* TYPOGRAPHY */
body {
  font-family: var(--font-open-sans);
  background-color: var(--color-white);
  font-size: 1.8rem;
  color: var(--color-black);
  line-height: 1.6;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: var(--font-nunito-sans);
}

h2 {
  font-size: 2.813rem;
  margin: 3.2rem 0 0.4rem 0;
}

h3 {
  font-size: 2.25rem;
}

p {
  margin-top: 0;
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
  color: rgba(37, 49, 60, 0.59);
  margin: 2.8rem auto;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 3.906rem;
  }

  h3 {
    font-size: 3.125rem;
  }
}

/* UTILITIES */
.link-clear {
  color: var(--color-white);
  text-decoration: none;
}

.link-clear-black {
  color: var(--color-black);
  text-decoration: none;
}

.flex {
  gap: 2rem;
  justify-content: center;
}

.bold {
  font-weight: bold;
}
