@import "./normalize.css";
:root {
  --color-white: #f7f7f7;
  --color-black: #25313c;
  --color-primary: #4566e7;
  --color-secondary: #fbe1b7;
  --border-radius: 8px;
  --btn-border-radius: 8px;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1160px;
  padding: 0 2rem;
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-primary);
  color: var(--color-white);
}

/* TYPOGRAPHY */
body {
  font-family: var(--font-open-sans);
  background-color: var(--color-white);
  font-size: 1.8rem;
  color: var(--color-black);
  line-height: 1.6;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-nunito-sans);
}

h1 {
  font-size: 5.375rem;
}

h2 {
  font-size: 4.479rem;
}

h3 {
  font-size: 3.732rem;
}

h4 {
  font-size: 3.11rem;
}

h5 {
  font-size: 2.592rem;
}

p {
  margin-top: 0;
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
  color: rgba(37, 49, 60, 0.59);
  margin: 2.8rem auto;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 6.104rem;
  }

  h2 {
    font-size: 4.883rem;
  }

  h3 {
    font-size: 3.906rem;
  }

  h4 {
    font-size: 3.125rem;
  }

  h5 {
    font-size: 25rem;
  }
}

/* BUTTONS */
.btn {
  border-radius: var(--btn-border-radius);
  border: 0;
  cursor: pointer;
  outline: 0;
  height: 4rem;
  padding: 0 1.6rem;
  min-width: 6.4rem;
  white-space: nowrap;
}

.btn-primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.btn-primary:hover {
  background: #4c70ff;
}

.btn-outline {
  background: var(--color-white);
  color: var(--color-primary);
  border: 1.5px solid var(--color-primary);
}

.btn-outline:hover {
  background: #dcdfe8;
}

.link-clear {
  color: var(--color-white);
  text-decoration: none;
}
.link-clear-black {
  color: var(--color-black);
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}

.flex {
  gap: 2rem;
}
