.hero {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  padding-bottom: 3.2rem;
}

.heroBlockOne {
  position: relative;
  margin: 3rem 0rem;
}

.heroImage {
  position: relative;
  margin-left: -11rem;
  border-radius: var(--border-radius);
  width: 21.6rem;
  height: 32.4rem;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.heroBanner {
  background-color: var(--color-secondary);
  font-family: var(--font-nunito-sans);
  font-size: 2.813rem;
  width: 18rem;
  height: 9.6rem;
  padding: 2rem 2rem;
  position: absolute;
  top: 3.6rem;
  left: 4.4rem;
  line-height: 0.9;
}

.heroBlockTwo {
  display: flex;
  flex-direction: column;
}

.heroTagline {
  margin-bottom: 2rem;
  max-width: 32rem;
}

.customLink {
  color: var(--color-black);
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1.5px solid var(--color-primary);
}

.noWrap {
  white-space: nowrap;
}

.customLink:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    margin-top: 1.2rem;
    padding-bottom: 2rem;
  }

  .heroImage {
    width: 38rem;
    height: 56.9rem;
    margin-left: 0.8rem;
  }

  .heroBanner {
    font-size: 4.883rem;
    width: 29.6rem;
    height: 16rem;
    padding: 3.2rem 2.4rem 0 2.4rem;
    top: 6rem;
    left: 32.8rem;
  }

  .heroBlockTwo {
    margin-left: 2rem;
  }

  .heroTagline {
    margin-top: 18rem;
    width: 28rem;
    font-size: 1.8rem;
  }
}
