.bookNoteContainer {
  max-width: 68rem;
  margin: 0 auto;
  padding: 3rem 1.6rem;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .bookNoteContainer {
    padding-top: 5.2rem;
  }
}
