.sidePanel {
  background-color: var(--color-secondary);
  padding: 0 2.4rem 0 0;
}

.sideItem {
  list-style: none;
  outline: 0;
  margin: 1.6rem 0;
}

.sideLink {
  text-decoration: none;
  color: var(--color-black);
  text-wrap: nowrap;
}

.sideLink:hover {
  color: var(--color-primary);
}
