.sidePanel {
  background-color: var(--color-secondary);
  height: 100vh;
  padding: 0 2.8rem 0 0;
}

.sideItem {
  /* text-align: center; */
  list-style: none;
  outline: 0;
  margin: 1.6rem 0;
}

.sideLink {
  text-decoration: none;
  color: var(--color-black);
}

.sideLink:hover {
  color: var(--color-primary);
}
