.navigation {
  display: flex;
  z-index: 9999;
  height: 80px;
  max-width: 1160px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  position: relative;
}

.postPageNavbar {
}

.navBrand {
  margin-left: 2rem;
  margin-bottom: 0.4rem;
  position: relative;
  padding: 0;
  width: 164px;
  height: 24px;
  /* border: 1px solid red; */
}

.navMenu {
  margin-right: 2rem;
  /* border: 1px solid red; */
}

.navList {
  display: none;
}

.navListOpen {
  display: flex;
  font-size: 1.8rem;
  gap: 2rem;
  flex-direction: column;
  position: absolute;
  top: 50px;
  width: 100vw;
  background-color: var(--color-white);
  height: 100vh;
  transform-origin: top;
}

.navItem {
  text-align: center;
  list-style: none;
  outline: 0;
}

.navLink {
  text-decoration: none;
  outline: 0;
  width: 100%;
  white-space: nowrap;
}

.nonActiveNavLink {
  color: var(--color-black);
}

.activeNavLink {
  color: var(--color-primary);
}

.navLink:hover {
  color: var(--color-primary);
}

.hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .navigation {
    padding: 0 2rem;
  }

  .navBrand {
    margin-left: 0;
    margin-bottom: 0;
  }

  .navMenu {
    display: none;
  }

  .navList {
    display: flex;
    gap: 3.2rem;
    align-items: center;
  }

  .navListOpen {
    display: none;
  }

  .navItem {
    width: auto;
  }
}
