.postsList {
  margin-top: 2rem;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.postContainer {
  background-color: #fbefdd;
  margin: 0 auto;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  max-width: 750px;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.postContainer:hover {
  background-color: var(--color-secondary);
  transform: scale(1.05);
}

.postPropertiesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 0 1.2rem 0;
}

.postTitle {
  font-size: 2.592rem;
  margin: 0 0 0.8rem 0;
}

.postProperties {
  font-weight: bold;
  font-size: 1.5rem;
  padding-right: 0.4rem;
}

.propertiesContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.postPublishedValue {
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .postPropertiesContainer {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .postTitle {
    font-size: 2.765rem;
  }

  .postProperties {
    font-size: 1.333rem;
  }

  .postPublishedValue {
    font-size: 1.333rem;
  }
}
