.workSpace {
  margin: 0 auto;
}

.adminPanelHeader {
}

.adminPanelList {
  margin: 0 0 0 -3.6rem;
  display: flex;
  gap: 2rem;
}

.adminItem {
  list-style: none;
  text-wrap: nowrap;
}

.adminLink {
  text-decoration: none;
  color: var(--color-black);
  font-size: 2rem;
}

.adminLink:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .adminLink {
    font-size: 3.125rem;
  }
}
