.PostsPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.table {
  border: 1px solid var(--color-black);
  border-collapse: collapse;
  text-align: center;
}

.tableData {
  border: 1px solid var(--color-black);
  border-collapse: collapse;
  padding: 5px;
  border: 1px solid lightgrey;
}

.tableDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .tableDesktop {
    display: table-cell;
  }
}
