@import "./normalize.css";

:root {
  --color-white: #f7f7f7;
  --color-black: #25313c;
  --color-secondary: #fbe1b7;
  --color-accent: #5c78e7;
  --border-radius: 8px;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-accent);
  color: var(--color-white);
}

body {
  font-family: var(--font-open-sans);
  font-size: 1.8rem;
  color: var(--color-black);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-nunito-sans);
  /* margin-bottom: 1rem; */
  /* line-height: 1.1; */
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
