.footer {
  color: rgba(37, 49, 60, 0.59);
  display: flex;
  font-size: 1.44rem;
  justify-content: center;
  margin: 0 auto 2.4rem auto;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.28rem;
  }
}
