.navigation {
  display: flex;
  z-index: 9999;
  height: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: relative;
}

.navList {
  display: none;
}

.navListOpen {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: -10px;
  width: 100vw;
  padding-left: 0;
  background-color: var(--color-white);
  height: 100vh;
  transform-origin: top;
}

.navItem {
  text-align: center;
  list-style: none;
  outline: 0;
}

.navLink {
  text-decoration: none;
  outline: 0;
  width: 100%;
  white-space: nowrap;
}

.nonActiveNavLink {
  color: var(--color-black);
}

.activeNavLink {
  color: var(--color-primary);
}

.navLink:hover {
  color: var(--color-primary);
}

.hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .navMenu {
    display: none;
  }

  .navList {
    display: flex;
    gap: 3.2rem;
    align-items: center;
  }

  .navListOpen {
    display: none;
  }

  .navItem {
    width: auto;
  }
}
