.navigation {
  display: flex;
  height: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: relative;
}

.navBrand {
  border: 1px solid red;
}

.navList {
  display: none;
}

.navOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: var(--color-white);
  height: calc(100vh - 65px);
}

.navItem {
  width: 100%;
  text-align: center;
  list-style: none;
  outline: 0;
}

.navLink {
  margin: 0.4rem 0.8rem;
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  outline: 0;
  width: 100%;
  white-space: nowrap;
}

.nonActiveNavLink {
  color: var(--color-black);
}

.activeNavLink {
  color: var(--color-primary);
}

.navLink:hover {
  color: var(--color-primary);
}

.navMenu {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  border: 1px solid red;
}

@media screen and (min-width: 768px) {
  .navMenu {
    display: none;
  }

  .navigation {
    height: 80px;
  }

  .navList {
    display: flex;
    align-items: center;
  }

  .navItem {
    border: 0;
  }
}
