.navigation {
  display: flex;
  height: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: relative;
  /* border: 1px solid red; */
}

.navBrand {
  /* border: 1px solid red; */
}

.navList {
  display: none;
  /* border: 1px solid red; */
}

.navOpen {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: var(--color-white);
  /* background-color: red; */
  height: calc(100vh - 65px);
  transform-origin: top;
}

.navItem {
  width: 100%;
  text-align: center;
  list-style: none;
  outline: 0;
}

.navLink {
  text-decoration: none;
  outline: 0;
  width: 100%;
  white-space: nowrap;
  /* border: 1px solid red; */
}

.nonActiveNavLink {
  color: var(--color-black);
}

.activeNavLink {
  color: var(--color-primary);
}

.navLink:hover {
  color: var(--color-primary);
}

.navMenu {
  /* border: 1px solid red; */
}

.hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .navMenu {
    display: none;
  }

  .navItem {
    width: auto;
  }

  .navList {
    display: flex;
    gap: 3.2rem;
    align-items: center;
  }
}
