/* GENERAL */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.customLink {
  color: var(--color-primary);
}

.sectionContainer {
  margin: 0 auto;
  max-width: 68rem;
  padding: 0 1.2rem;
}

.listItem {
  padding: 0.4rem 0;
  margin: 0;
}

/* TAGLINE */
.philosophyTagline {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin: 0 auto;
  max-width: 48rem;
  padding: 3.2rem 1.2rem 0 1.2rem;
  text-align: justify;
}

.philosophyTaglineItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

/* PUBLICATIONS */
.publicationsTagline {
  text-align: justify;
  padding-top: 2rem;
}

/* PROFILES */
.profilesContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 3.2rem 0;
}

.philpeopleImage {
  height: 16rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 16rem;
}

.philpeopleImage:hover {
  transform: scale(1.1);
}

.googleScholarImage {
  position: relative;
  width: 25rem;
  height: 15.7rem;
  transition: all 0.2s ease-in-out;
}

.googleScholarImage:hover {
  transform: scale(1.1);
}

.cvButton {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .philosophyTagline {
    padding: 5.6rem 0 2rem 0;
    max-width: 68rem;
    gap: 4.4rem;
  }

  .philosophyTaglineItem {
    flex-direction: row;
    gap: 3.2rem;
  }

  .profilesContainer {
    flex-direction: row;
    gap: 8rem;
  }

  .cvButton {
    margin: 5.2rem 0;
  }
}
