.italic {
  font-style: italic;
}

.publicationsContainer {
  max-width: 68rem;
}

.publicationsTagline {
  padding-left: 3.2rem;
}

.publicationsList {
  padding-left: 4.8rem;
}

.listItem {
  padding: 0.4rem 0;
  margin: 0;
}

.talksList {
  margin: 0;
  max-width: 68rem;
  padding-left: 5.2rem;
}

.customLink {
  color: var(--color-primary);
}

.profilesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.philpeopleImage {
  position: relative;
  width: 14rem;
  height: 18rem;
  transition: all 0.2s ease-in-out;
}

.philpeopleImage:hover {
  transform: scale(1.1);
}

.googleScholarImage {
  position: relative;
  width: 26rem;
  height: 16rem;
  transition: all 0.2s ease-in-out;
}

.googleScholarImage:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .publicationsContainer {
    padding-left: 1.2rem;
  }

  .talksList {
    padding-left: 6rem;
  }

  .profilesContainer {
    flex-direction: row;
    padding-left: 4rem;
    gap: 3.2rem;
  }
}
