.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formInput {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
  transition: border-color 0.15s, box-shadow 0.15s;
  outline: 0;
}
.formInput:focus {
  border-color: #7db0fb;
  box-shadow: 0 0 0 4px #b9d3fa;
}

.flexButton {
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .form {
    width: 68rem;
  }
}
