/* TAGLINE */
.projectsTagline {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 68rem;
  padding: 3.2rem 1.2rem;
  text-align: justify;
}

.projectsTaglineButton {
  align-items: center;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  padding: 0.8rem 3.2rem;
}

/* PROJECTS */
.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  justify-content: center;
  padding: 5.2rem 2rem;
}

.projectContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
}

.projectImage {
  width: 34.5rem;
  min-height: 21.6rem;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
}

.projectDescription {
  text-align: justify;
  padding-top: 1.2rem;
}

.projectFeatures {
  margin-top: -2rem;
}

.projectDetailsButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projectsContainer {
    gap: 10rem;
  }

  .projectDetails {
    max-width: 60rem;
  }

  .projectDetailsButtons {
    flex-direction: row;
  }
  .projectDetailsButtons a {
    flex: 1;
  }

  .projectDescription {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .projectsContainer {
    gap: 8rem;
  }

  .projectContainer {
    flex-direction: row;
    gap: 5.6rem;
  }

  .projectImage {
    width: 50rem;
    height: 31.3rem;
  }

  .projectDetails {
    max-width: 50rem;
  }

  .projectContainer:nth-child(even) .projectImage {
    order: 2;
  }

  .projectContainer:nth-child(even) .projectDetails {
    order: 1;
  }

  .projectsTagline {
    padding-top: 4rem;
  }
}
