.postContainer {
  max-width: 68rem;
  margin: 0 auto;
  padding-top: 4.4rem;
}

.postButton {
  margin: 6rem auto;
  max-width: 40rem;
}
@media screen and (min-width: 768px) {
  .postContainer {
    padding-top: 6rem;
  }
}
