.filtersContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.categoryButton {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
