.menuButton {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.line {
  transition: y 200ms ease-in-out 200ms, rotate 200ms ease-in-out,
    opacity 0ms 200ms;
  transform-origin: center;
}

.menuButton[aria-expanded="true"] .line {
  transition: y 200ms ease-in-out, rotate 200ms ease-in-out 200ms,
    opacity 0ms 200ms;
}

.menuButton[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
}

.menuButton[aria-expanded="true"] .top {
  rotate: 45deg;
}

.menuButton[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

.menuButton[aria-expanded="true"] .middle {
  opacity: 0;
}
